/* Переменные */
:root {
  --primary-text-color: #757575;
  --title-text-color-1: #212121;
  --title-text-color-2: rgba(255, 255, 255, 0.6);
  --accent-color-1: #ffffff;
  --accent-color-2: #2196f3;
}
/* body */

body {
  color: #757575;
  background-color: #ffffff;
  font-family: Roboto;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h1:list-child,
h2:list-child,
h3:list-child,
h4:list-child,
p:list-child {
  margin-bottom: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Портфолио */

.box {
  width: 1170px;
  height: 1360px;
}

.mar {
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.sec-portf {
  background-color: #e5e5e5;
  width: 1600px;
  padding-bottom: 194px;
}

.sec-btn {
  display: flex;
  align-items: center;
  padding-top: 94px;
  padding-left: 0;
  margin-left: 495px;
}

.btn-iten {
  margin-right: 8px;
}

.btn-portf {
  padding: 6px 22px;
}

.sec-img {
  display: flex;
  width: 1600px;
  flex-wrap: wrap;
  margin-left: 215px;
  margin-right: 215px;
  padding-left: 0;
  margin-top: 50;
  margin-bottom: 0;
}

.header {
  background-color: #ffffff;
}

button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
}

button:hover,
button:focus {
  color: #ffffff;
  background: #2196f3;
  border-radius: 4px;
}

.list {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 15px;
}

.h3-portf {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 20px 24px 4px 24px;
}

.p-text {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin: 4px 24px 20px 24px;
}

/* Студия */

/* header */

/* Flex */

li:not(:last-child) {
  margin-bottom: 0;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-wrapper {
  display: flex;
}

.header-link {
  margin-right: 93px;
}

.nav-item {
  margin-right: 50px;
}

.nav-item:last-child {
  margin: 0;
}

.list {
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-list {
  display: flex;
}

.text-color-1 {
  color: var(--accent-color-2);
}

.text-color-2 {
  color: var(--title-text-color-1);
}

.text-color-3 {
  color: var(--accent-color-1);
}

.text-color-4 {
  color: var(--title-text-color-2);
}
.text-color-5 {
  color: var(--primary-text-color);
}

.text-color-5:hover {
  color: var(--accent-color-2);
}

[href] {
  text-decoration: none;
}

.logo-h {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.link {
  color: #212121;
}

.link:hover {
  color: #2196f3;
}

.nav-link {
  color: #2196f3;
}

nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Интервалы */

.text-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.contact-header {
  margin-right: 50px;
}

/* main */

/* section-1 */

.section-1 {
  background-color: #2f303a;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* section-2 */

.section-2 {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container-section-2 {
  display: flex;
  margin: 0;
}

.sec-2-item {
  margin-right: 30px;
}

/* section-3 */

.section-3 {
  padding-bottom: 94px;
}

.container-section-3 {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.item-sec-3 {
  margin-right: 30px;
}

/* section-4 */

.section-4 {
  background-color: #f5f4fa;
  width: 1600px;
  height: 648px;
}

.container-section-4 {
  display: flex;
  margin-left: 215px;
  margin-right: 215px;
}

.text-h1 {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* button */

.button {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: inherit;
  padding: 10px 32px;
  margin-top: 30px;
}

.h2-section {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.h3 {
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.h3-text {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

.p-section-2 {
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: #757575;
}

.text-p {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.list-stud {
  background-color: #ffffff;
  margin-right: 30px;
  margin-top: 50px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* footer */
.footer {
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.logo-f {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  margin-left: 215px;
  margin-top: 60px;
}

.ul-f {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-left: 175px;
  margin-top: 20px;
}
